# VERSION=CentOS6.8
install
cdrom
text
cmdline
skipx

lang en_US.UTF8
keyboard us
network --onboot on --device eth0 bootproto static --ip 192.168.2.200 --netmask=255.255.255.0 --gateway=192.168.2.1 --nameserver 8.8.8.8,8.8.4.4 --noipv6

rootpw password
authconfig --enableshadow --passalgo=sha512
firewall --enable --ssh
timezone --utc Asia/Tokyo
selinux --permissive

bootloader --location=mbr --driveorder=sda --append="crashkernel=auto"
clearpart --all
zerombr

part /boot --fstype=ext4 --asprimary --size=500
part /     --fstype=ext4 --asprimary --size=1 --grow
part swap  --recommended

%packages
@development
gcc
openssl-devel
readline-devel
zlib-devel
vim
git
%end

reboot
